<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12081276368-glhrjisej8uc8pss6p31hukjhqn4lkbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12081276368-glhrjisej8uc8pss6p31hukjhqn4lkbi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>12081276368-9dionkabqkqp9v4v7h4vl1n0du94g73v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBi0sXsCcecpabUu5Ffvwb2SjTz2Sq1Y1c</string>
	<key>GCM_SENDER_ID</key>
	<string>12081276368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.vodebarco</string>
	<key>PROJECT_ID</key>
	<string>vodebarco-99809</string>
	<key>STORAGE_BUCKET</key>
	<string>vodebarco-99809.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12081276368:ios:0a85e4ed0ed54c554285d5</string>
</dict>
</plist>