<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12081276368-5ulmlja5ggq1ovsep0hcgvarcfigls0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12081276368-5ulmlja5ggq1ovsep0hcgvarcfigls0a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>12081276368-2eggut4meensdohjrjelnmjqhr6ak1o7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBi0sXsCcecpabUu5Ffvwb2SjTz2Sq1Y1c</string>
	<key>GCM_SENDER_ID</key>
	<string>12081276368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.vodebarco</string>
	<key>PROJECT_ID</key>
	<string>vodebarco-99809</string>
	<key>STORAGE_BUCKET</key>
	<string>vodebarco-99809.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12081276368:ios:23866a2548a77a344285d5</string>
</dict>
</plist>